@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    scroll-behavior: smooth;
}

/* Default Section */
.section-padding{
    padding: 0 20px;
}


/* 
-------------- Nav Section ----------------
*/
.nav-section{
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0;
}

.nav-section h1{
    font-weight: 800;
    color: #0D1321;
}

.nav-section button{
    padding: 15px 20px;
    border: 2px solid #0D1321;
    font-size: 17px;
    font-weight: 500;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}


/* 
---------------- Hero Section --------------------
*/
.hero-section{
    width: 100%;
    height: 650px;
    background-image: url(../assets/Hero-bg.png);
}

.hero-container{
    max-width: 1140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    margin: 0 auto;
}

.hero-img{
    max-width: 250px;
}

.hero-img img{
    width: 100%;
}

.hero-container h1{
    font-size: 48px;
    color: #0D1321;
}

.hero-container p{
    max-width: 800px;
    line-height: 1.7;
    font-size: 16px;
    color: #0D1321;
}

.hero-container a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    background-color: #0D1321;
    padding: 20px 20px;
    border-radius: 8px;
}


/* 
--------------- Why Web Development Section ----------------
*/
.develop-section{
    max-width: 1140px;
    margin: 100px auto;
    background-color: rgba(13, 19, 33, 2%);
    border-radius: 16px;
    padding: 80px 95px 45px;
}

.develop-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}


.title-text{
    font-size: 32px;
    color: #0D1321;
    text-align: center;
}

.description-text{
    margin: 25px 0;
    color: #0D1321;
    line-height: 1.7;
    text-align: center;
}


.develop-container{
    margin: 30px 0;
}

.develop-item{
    padding: 40px;
    display: flex;
    gap: 30px;
    background: linear-gradient(45deg, rgba(255,255,255,100%), rgba(255,255,255,0%));
    border-radius: 16px;
}

.middle-item{
    margin: 30px 0;
    background: linear-gradient(45deg, rgba(255,255,255,0%), rgba(255,255,255,100%));
}

.item-text{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.item-text h1{
    line-height: 1.5;
    color: rgba(13, 19, 33, 70%);
    font-size: 24px;
}

.item-text p{
    line-height: 1.7;
    color: rgba(13, 19, 33, 70%);
}

.item-text button{
    border: 1.5px solid rgba(13, 19, 33, 70%);;
    color: rgba(13, 19, 33, 70%);
    background-color: white;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 17px;
    margin: 10px 0;
    cursor: pointer;
}



/* 
--------------------- My Inspiration Section -------------------
*/
.inspiration-section{
    max-width: 1140px;
    margin: 50px auto;
}

.video-container{
    margin: 50px 0 0;
    padding: 28px;
    border: 1px solid rgba(13, 19, 33, 20%);
    border-radius: 16px;
}

iframe{
    width: 100%;
    height: 600px;
    border-radius: 16px;
}




/* 
---------------- Target Section ---------------
*/
.target-section{
    max-width: 1140px;
    margin: 120px auto 100px;
}

.target-container{
    margin: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.target-item{
    width: 33%;
    padding: 30px;
    border-radius: 16px;
}

.target-item1{
    background-color: rgba(255, 76, 30, 5%);
}

.target-item2{
    background-color: rgba(0, 76, 232, 5%);
}

.target-item3{
    background-color: rgba(255, 223, 0, 5%);
}

.target-item img{
    width: 50px;
}

.item-title{
    font-size: 24px;
    margin: 20px 0;
    color: #0D1321;
}

.item-description{
    color: #0D1321;
    word-spacing: 1.8;
    line-height: 1.7;
}

.item-link{
    display: inline-block;
    margin: 20px 0 0;
    font-size: 16px;
    font-weight: 700;
}



/* 
----------------- My Next Target Section -----------------
*/
.next-target-section{
    max-width: 1140px;
    margin: 20px auto;
}

.next-target-container{
    margin: 50px 0 0;
}

.next-target-item{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
    margin: 20px 0;
    border: 1px solid rgba(13, 19, 33, 15%);
    border-radius: 16px;
}


/* 
------------------- Support Section -----------------
*/
.support-section{
    max-width: 1140px;
    height: 320px;
    margin: 60px auto;
    background-image: linear-gradient(rgba(0,0,0,50%),rgba(0,0,0,50%)), url("../assets/handshake.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

.support-section h1{
    color: white;
}

.support-section p{
    color: rgb(195, 195, 195);
    font-weight: 300;
}

input[type="text"]{
    font-weight: 500;
    width: 520px;
    padding: 18px 20px;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}


input[type="submit"]{
    background-color: white;
    font-weight: 700;
    font-size: 17px;
    color: #0D1321;
    border: none;
    border-radius: 8px;
    margin-left: 5px;
    padding: 17px 25px;
    cursor: pointer;
}


/* 
-------------------- Footer Section --------------------
*/
footer{
    width: 100%;
    background-color: rgba(13, 19, 33, 2%);
}

.footer-section{
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section p{
    font-weight: 600;
    font-size: 18px;
}

.footer-section .social-link .middle-img{
    margin: 0 5px;
}